body{
    font: Arial, Helvetica, sans-serif;
}

.gradiente-uno{
    border:solid 2px;
    width: 300px;
    height: 200px;
    background:linear-gradient(90deg, blue, red, #000, pink)
}

.gradiente-dos{
    border:solid 2px;
    width: 300px;
    height: 200px;;
    background:linear-gradient(to bottom, blue, red, #000, pink)7
}

.gradiente-tres{
    border:solid 2px;
    width: 300px;
    height: 200px;-
    background:linear-gradient(90deg, red, pink, yellow, orange)
}